<div id="<%= dom_id comment %>">
  <p>
    <strong>Post:</strong>
    <%= comment.post_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.comment %>
  </p>

  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter_id %>
  </p>

</div>
