<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= button_to 'Edit This Comment', edit_post_comment_path(@comment), method: :get, class:"btn btn-dark btn-sm"%>
  <%= link_to "Back to comments", post_comments_path(@post) %>


</div>
