<p style="color: green"><%= notice %></p>

<%= render @comment %>
<div>
  <%if current_user.eql? @user%>
    <%= button_to 'Edit This Comment', edit_post_comment_path(@comment), method: :get, class:"btn btn-dark btn-sm"%>
    <%end %>
  <%= link_to "Back to comments", post_comments_path(@post) %>
  <h4> </h4>
</div>
