<h1>Editing likes counter</h1>

<%= render "form", likes_counter: @likes_counter %>

<br>

<div>
  <%= link_to "Show this likes counter", @likes_counter %> |
  <%= link_to "Back to likes counters", likes_counters_path %>
</div>
