<p style="color: green"><%= notice %></p>
<%= button_to 'New Post', new_post_path, method: :get, class:"btn btn-primary btn-sm"%>
<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

